.form {
  margin: 20px auto;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}

.title {
  text-align: left;
  font-weight: 600;
  margin-bottom: 5px;
}

.span {
  color: #7b5454;
  font-weight: 600;
}

.input {
  margin-top: 10px;
  height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 10px;
  
  outline: none;
  font-size: 16px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 40px;

  background-color: #7b5454;

  font-family: inherit;
  border: none;
  border-radius: 10px;

  cursor: pointer;
  color: white;
}

.button:hover,
.button:focus {
  filter: brightness(70%);
}